{% extends 'base.html.twig' %}


{% block title %}Ajout d'un manga{% endblock %}
{% block javascripts %}
            {{parent()}}
            <script src="/js/tag.js"></script>
{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}
    {% if is_granted('ROLE_ADMIN') %}

    <span class="textwhite"><h1 class="textwhite">Ajouter un chapitre</h1>
    <div class="formflex">
        <p>{{ form_start(formChapitre) }}</p>
        <div class='register'>{{form_label(formChapitre.Titre)}}</div>
        <div class='register'>{{form_widget(formChapitre.Titre)}}</div>
        <div class='register'>{{form_label(formChapitre.page)}}</div>
        <div class='register'>{{form_widget(formChapitre.page)}}</div>
        <div class='register'>{{form_label(formChapitre.manga)}}</div>
        <div class='register'>{{form_widget(formChapitre.manga)}}</div>
        
        {{ form_end(formChapitre) }}
    <a href="/" class="textwhite">Retour à la liste des mangas</a>
    </div></span>


    {% else %}
    <section class="badRole">
        <p class="textwhite textmiddle ">Faites votre demande via mail ou discord pour avoir le droit de poster vos chapitre ! lien discord : <a class="textwhite" href="https://discord.gg/m9GrxyVtbC">https://discord.gg/m9GrxyVtbC</a></p>
        <a href="/" class="textwhite">Retour à la liste</a>
    </section>
    {% endif %}
{% endblock %}