{% extends 'base.html.twig' %}

{% block title %}{{chapitre.titre ~ ' ' ~ chapitre.manga}}{% endblock %}

{% block body %}
    {# {% include "navbar.html.twig" %} #}
    <section id="wrapperCha">
    {% block header %}
    <header class=infobar>
        {# Ligne permettant de montrer le nom du chapitre ainsi que le nom du manga possédant le chapitre #}
        <span class="textwhite chapTitre">{{ chapitre.titre}}</span>
        <a href="{{path('show_manga', {'id':chapitre.manga.id})}}" class="textwhite chapTitre"><i class="fa-solid fa-book logoChap"></i>{{chapitre.manga}}</a>

        {# ceci nous permet de séléctionner chaque url inscrit dans la base de donnée #}
        {% set p = chapitre.page | split(' ') %}

        {# p | length sert a compter le nombre de page présente dans le chapitre #}
        {% set nbPages = p | length %}
        {# Pour éviter les problèmes de page singulière écrit avec un "s" nous avons un if else  #}
        <span class="textwhite chapTitre">Il y a {{nbPages}} {% if nbPages > 1 %}pages {% else %} page{% endif %} dans ce chapitre.</span>
        {% if app.user %}
                <a href="{{path('app_logout')}}"class="textwhite chapTitre" ><i class="fa-solid fa-user textwhite chapTitre"></i>Logout</a>
            {% else %}
                <a href="{{path('app_register')}}"class="textwhite chapTitre"><i class="fa-solid fa-user textwhite chapTitre"></i>S'inscrire</a>
                <a href="{{path('app_login')}}" class="textwhite chapTitre"><i class="fa-solid fa-user textwhite chapTitre"></i>Login</a>
            {% endif %}
    </header>
    {% endblock %}
    {% block container %}
    <div class="containerChap">
        {# ceci nous permet de montrer chaque image présent dans le chapitre apres avoir été couper par le split #}
        {% set p = chapitre.page | split(' ') %}
        {% for page in p %}
            <img class="imgchap" src="{{page}}"/>
        {% endfor %}
        <p><a href="{{path('show_manga', {'id':chapitre.manga.id})}}" class="textwhite chapTitre">Retour à la liste des chapitres</a></p>
    </div>
    {% endblock %}
    </section>
{% endblock %}