{% extends 'base.html.twig' %}

{% block title %}Ajout d'un manga{% endblock %}
{% block javascripts %}
            {{parent()}}
            <script src="/js/tag.js"></script>
{% endblock %}
{% block body %}
    {% include "navbar.html.twig" %}
    {% if is_granted('ROLE_ADMIN') %}
    
    <span class="textwhite"><h1 class="textmiddle">Ajouter un Manga</h1>

    <div class="formflex">
    <p>{{ form_start(formManga) }}</p>
        <div class='register'>{{ form_label(formManga.Titre)}}</div>
        <div class='register'>{{form_widget(formManga.Titre)}}</div>
        <div class='register redtext'>{{form_errors(formManga.Titre)}}</div>
        <div class='register'>{{ form_label(formManga.garde)}}</div>
        <div class='register'>{{form_widget(formManga.garde)}}</div>
        <div class='register'>{{form_label(formManga.Description)}}</div>
        <div class='register'>{{form_widget(formManga.Description)}}</div>
        <div class='register'>{{ form_label(formManga.dateCreation)}}</div>
        <div class='register'>{{form_widget(formManga.dateCreation)}}</div>
        <div class='register'>{{ form_label(formManga.statut)}}</div>
        <div class='register'>{{form_widget(formManga.statut)}}</div>
        <div class='register'>{{ form_label(formManga.auteur)}}</div>
        <div class='register'>{{form_widget(formManga.auteur)}}</div>

        <ul id="collections" class="textwhite" data-prototype= "{{ form_row(formManga.tag.vars.prototype)|e('html_attr') }}">
            {% for tag in formManga.tag %}
            <li class="textwhite">{{ form_row(tag) }}</li>
            {% endfor %}
        </ul>
        
    {{ form_end(formManga) }}
    </div>
    <a href="/" class="textwhite">Retour à la liste</a>
    {% else %}
    <section class="badRole">
        <p class="textwhite textmiddle ">Faites votre demande via mail ou discord pour avoir le droit de poster vos mangas ! lien discord : <a class="textwhite" href="https://discord.gg/m9GrxyVtbC">https://discord.gg/m9GrxyVtbC</a></p>
