{% extends 'base.html.twig' %}


{% block title %}Manga list{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    <header><strong><h1 class="textwhite">Manga Liste</h1></strong><header>
    <div class="mangaList">
        {% for manga in mangas %}
                <main class="titreImage">
                    <img class="mangaGarde" src="{{manga.garde}}" alt="{{manga}}">
                    <div class="mangaCase">
                        <strong><h2><a href="{{path('show_manga', {'id':manga.id})}}" class="textwhite mangaTitre">{{manga}}</a></h2></strong>
                        <p class= "textwhite designText" ><i class="fa-solid fa-star"></i>{% if manga.averageNote == "n/a " %}
                        {{manga.averageNote}}{% else %}
                            {{manga.averageNote |number_format(0) ~" "~"/10 "}}{% endif %}<i class="fa-solid fa-bookmark"></i> {{manga.statut}}</p>
                        <p class="textwhite mangaDesc designText">{{manga.description | slice(0,400)}}</p>
                    </div>
                </main>
        {% endfor %}
    </div>
{% endblock %}
