{% extends 'base.html.twig' %}

{% block title %}{{manga.titre}}{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
    <id="wrapperManga">
    {# Détails du manga #}
    <div class="mangadetail">
        <div class="pageManga">
            <img class="mangaGardedetail" src="{{manga.garde}}">
            <div class="titreTag">
            <a href="{{path('app_manga')}}" class="textwhite mangaTitredetail">{{manga}}</a>
        <div class="tagflex">
            <p class="textwhite">Tags :</p>
            {% for tag in manga.tag %}
                <p class="textwhite tags ">{{tag.nametag ~ ' ' ~' '}}</p>
            {% endfor %}
        </div>
        </div>
        </div>
            <p class="textwhite auteurManga">Auteur du manga : <a href="{{path('show_auteur', {'id':manga.auteur.id})}}" class="textwhite">{{manga.auteur}}</a>
    {# Code pour note #}
    <p class="textwhite auteurManga">Note du manga : {% if manga.averageNote == "n/a " %}
        {{manga.averageNote}}{% else %}{{manga.averageNote |number_format(0) ~" "~"/10 "}}{% endif %}</p>
    {% if app.user %} {# Besoin d'etre connecté pour noter #} 
    
    {% set noteOK = false %} {# Met le statut de la note en false pour préparer le formulaire #} 
    {% for userManga in manga.userMangas %} {# Check si il y a deja une note pour l'utilisateur en ligne #}
        {% if userManga.user.id == app.user.id %}{# Si l'utilisateur connecté a deja noter ou non #}
            {% set noteOK = true %}
        {% endif %}
    {% endfor %}
    {% if not noteOK %}

        <div class="textwhite auteurManga"> {{ form_start(formManga) }}
            {{ form_row(formManga.note) }}
            {{ form_end(formManga) }}
        </div>
    {% endif %}
    {% endif %}</p>
            <p class="textwhite mangaDescDetail">{{manga.description}}</p>  
    </div>


    {# Afficher les chapitres #}
    <div class="chapitredetail">
    {% for chapitre in manga.chapitre %}
         <a href="{{path('show_chapitre', {'id':chapitre.id})}}" class="textwhite chapitrelien">{{chapitre.titre}}</a><br>
    {% endfor %} 
    </div>


    {# Fonctionnalité pour role spécial #}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="adminbar">
    <a href="{{path('add_chapitre') }}" class="adminbutton"><button>Ajouter un chapitre</button></a>
    <a class="textwhite adminbutton" href="{{path('update_manga',{'id':manga.id} ) }}" ><button>modifier le manga</button></a>
    <a href="{{path('del_manga',{'id':manga.id})}}" class="adminbutton"><button>Supprimer le manga</button></a>
    </div>  
    {% endif %}
    
    
{% endblock %}