{% extends 'base.html.twig' %}

{% block title %}{{manga.titre}}{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<a class="textwhite" href="{{path('update_manga',{'id':manga.id} ) }}">modifier le manga</a>
<div class="pageManga">
    <div class="">
        <img class="mangaGarde" src="{{manga.garde}}">
    <div class="">
        <a href="{{path('app_manga')}}" class="textwhite">{{manga}}</a>
        <p class="textwhite">{{manga.description}}</p>
    {% for tag in manga.tag %}
        <p class="textwhite">{{tag.nametag}}</p>
    {% endfor %}
        <p class="textwhite">{{manga.auteur}}</p>            
    </div>
    </div>

    {% set noteOK = false %}
    {% for userManga in manga.userMangas %}
        {% if userManga.user.id == app.user.id %}
            {% set noteOK = true %}
        {% endif %}
    {% endfor %}

    {% if not noteOK %}
        {{ form_start(formManga) }}
    <div class="col textwhite">
        {{ form_row(formManga) }}
    </div>
        {{ form_end(formManga) }}
    {% endif %}

    {% for chapitre in manga.chapitre %}
         <a href="{{path('show_chapitre', {'id':chapitre.id})}}" class="textwhite">{{chapitre.titre}}</a><br>
    {% endfor %} 
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('add_chapitre') }}">Ajouter un chapitre</a>
    {% endif %}
    
{% endblock %}