{% extends 'base.html.twig' %}
{% block title %}{{auteurs}}{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

    <header>
        <div class="headerManga">
        <strong><h1 class="textwhite">Liste des mangas de l'auteur</h1></strong>
        </div>
    <header>
    <div class="mangaList">
    {# <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name"> #}

        {% for manga in auteurs.mangas %}
                <main class="titreImage">
                    <img class="mangaGarde" src="{{manga.garde}}" alt="{{manga}}">
                    <div class="mangaCase">
                        <strong><h2><a href="{{path('show_manga', {'id':manga.id})}}" id="myManga" class="textwhite mangaTitre"><tr><td>{{manga}}</td></tr></a></h2></strong>
                        <p class= "textwhite designText" ><i class="fa-solid fa-star"></i>{% if manga.averageNote == "n/a " %}
                            {{manga.averageNote}}{% else %}
                            {{manga.averageNote |number_format(0) ~" "~"/10 "}}{% endif %}
                            <i class="fa-solid fa-bookmark"></i> {{manga.statut}}</p>
                        <p class="textwhite mangaDesc designText">{{manga.description | slice(0,250)}}</p>
                    </div>
                </main>
        {% endfor %}
        </div>
<div>
 {% if is_granted('ROLE_ADMIN') %}
    <div class="adminbar">
    <a class="textwhite adminbutton" href="{{path('update_auteur',{'id':auteurs.id} ) }}" ><button>modifier l'auteur</button></a>
    <a href="{{path('del_auteur',{'id':auteurs.id})}}" class="adminbutton"><button>Supprimer l'auteur</button></a>
    </div>  
    {% endif %}
    </div>
{% endblock %}