<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}test{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         <link rel="stylesheet" href={{asset('navbar.css')}}>
         <link rel="stylesheet" href={{asset('style.css')}}>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"> </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section id="wrappernavbar">
            <div class="logo-div">
                <a href="{{path('app_manga')}}"><img class="logonav" src={{asset('image/Legion.jpg')}} alt="logo"></a> 
            </div>
            {% if app.user %}
                <a href="{{path('app_logout')}}" class="textwhite nodeco"><i class="fa-solid fa-user logoLogin"></i>Disconnect</a>
            {% else %}
                <a href="{{path('app_register')}}"class="textwhite nodeco"><i class="fa-solid fa-user logoLogin"></i>s'inscrire</a>
                <a href="{{path('app_login')}}"class="textwhite nodeco"><i class="fa-solid fa-user logoLogin"></i>Login</a>
            {% endif %}
            <div class="row">
                <div class="col-md-7">
                    <form action="" method="GET">
                        <div class="input-group mb-3">
                            <input type="text" name="search" value="<?php if(isset($_GET['search'])){echo $_GET['search'];}?>" class="form-control" placeholder="Rechercher">
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        {% block body %}
        {% endblock %}
    </body>
</html>
